/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
ul,
ol {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  --primary-300: hsl(35, 77%, 62%);
  --primary-500: hsl(5, 85%, 63%);

  --neutral-100: hsl(36, 100%, 99%);
  --neutral-400: hsl(233, 8%, 79%);
  --neutral-600: hsl(236, 13%, 42%);
  --neutral-900: hsl(240, 100%, 5%);

  --lm-background: var(--neutral-100);
  --lm-h1-color: var(--neutral-900);
  --lm-h2-color: var(--neutral-400);
  --lm-h3-color: var(--neutral-900);
  --lm-text-color: var(--neutral-600);
  --lm-button-background-color: var(--primary-500);
  --lm-button-text-color: var(--neutral-100);

  --dm-background: var(--neutral-900);
  --dm-h1-color: var(--neutral-100);
  --dm-h2-color: var(--primary-300);
  --dm-h3-color: var(--neutral-100);
  --dm-text-color: var(--neutral-400);
  --dm-button-background-color: var(--primary-500);
  --dm-button-text-color: var(--neutral-100);

  --fs-500: 0.9375rem;

  --ff-main: 'Inter', sans-serif;
}

/* Default text and color styling */
body {
  background-color: var(--lm-background);
  color: var(--lm-text-color);
  font-size: var(--fs-500);
  font-family: var(--ff-main);
  font-weight: 400;
  margin: 0 1rem;
}

h1 {
  color: var(--lm-h1-color);
}

h2 {
  color: var(--lm-h2-color);
}

h3 {
  color: var(--lm-h3-color);
}

button {
  background-color: var(--lm-button-background-color);
  color: var(--lm-button-text-color);

  border-style: solid;
  border-color: var(--lm-button-background-color);

  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.5rem;
  word-spacing: 0;

  margin: 1rem 0;
  padding: 0.5rem 1rem;

  cursor: pointer;
}

.menu {
  padding: 0;
}

.accent {
  background-color: var(--dm-background);
  color: var(--dm-text-color);
}

.accent h1 {
  color: var(--dm-h1-color);
}

.accent h2 {
  color: var(--dm-h2-color);
}

.accent h3 {
  color: var(--dm-h3-color);
}

.accent > * {
  margin: 0 1rem;
}

.accent div {
  padding: 1.5rem 0;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: var(--neutral-600);
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  margin: 1rem 0;
}

nav {
  display: grid;
  justify-items: right;
}

.logo,
.menu {
  width: 2.5rem;
}

.navbar button {
  background: none;
  border: none;
  color: var(--lm-h1-color);
}

.navbar ul li {
  display: none;
}

.hero {
  display: none;
}

.popular article a {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

@media (min-width: 686px) {
  .hero {
    display: block;
  }
  .hero-mobile {
    display: none;
  }
}
